table {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 20px;
}

mat-card-header {
  margin: 0 auto;
  margin-top: 20px;
}

mat-card-header {
  justify-content: center;
}
