<div id="spinner" *ngIf="this.loaded == false">
<mat-spinner style="margin-bottom: 20px;"></mat-spinner>
</div>
<div *ngIf="this.loaded == true" >
  <mat-form-field>
  <mat-select>
    <mat-option
      *ngFor="let state of stateArray"
      [value]="state"
      (click)="applyStateFilter(state)">
      {{state}}
    </mat-option>
  </mat-select>
  </mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="firstNm">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Info[0].$.firstNm}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastNm">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Info[0].$.lastNm}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="organization" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Organization </th>
    <td mat-cell *matCellDef="let element"> {{element.CrntEmps[0].CrntEmp[0].$.orgNm}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="city" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element"> {{element.CrntEmps[0].CrntEmp[0].$.city}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="link" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element"> {{element.Info[0].$.link}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="state" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element"> {{element.CrntEmps[0].CrntEmp[0].$.state}} </td>
  </ng-container>

  <ng-container matColumnDef="options" mat-sort-header>
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element">
      <a mat-list-item [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></a>
    </td>
  </ng-container>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Show</span>
    </button>
  </mat-menu>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<div id="table">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="10" style="width: 80%; margin: 0 auto;"></mat-paginator>
</div>
